* {
  margin: 0; 
  cursor: default; 
}

html {
  height: 100%; 
  width: 100%; 
}

body {
  height: calc(100% - 10px); 
  width: calc(100% - 10px); 
  background: rgba(0, 0, 0, 0.01); 
  font-family: sans-serif; 
  color: #ffffff;
  user-select: none; 
  -webkit-app-region: no-drag; 
  padding: 5px; 
  display: flex; 
  align-items: center; 
  overflow: hidden; 
}

.content {
  -webkit-app-region: drag;   
  z-index: 0; 
  height: 100%; 
  width: calc(100% - 10px); 
  padding: 0 5px; 
  display: flex; 
  flex-wrap: wrap; 
  align-content: center;
  overflow: hidden; 
}

#countTitle {
  margin-bottom: 5px;
  width: 100%; 
}
#count {
  width: 100%; 
}
#count div {
  display: inline-block;
}

#count .top,
#count .bottom {
  margin-right: 10px; 
  text-align: center; 
}

/* #count .top:last-child,
#count .bottom:last-child {
  margin-right: 0; 
} */

#count .top p,
#count .bottom p {
  display: block; 
  clear: both; 
}

#count .left p,
#count .right p {
  margin-right: 5px;
}

/* #count .left:last-child p,
#count .right:last-child p {
  margin-right: 0; 
} */